@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {

  background-image: url(https://img.freepik.com/vector-gratis/mapa-trabajo-fondo-tecnologia_1017-31183.jpg?w=1060&t=st=1666019193~exp=1666019793~hmac=f58295b7ce59507a03292959cb753711894b999bac493c2f7dd5f427e6456904);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
