.countrie-card{
    width: 290px;
    height: 380px;
    border: 3px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
}

.countrie-flag{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid black;
}

.countrie-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countrie-name{
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.countrie-continent{
    display: center;
    color: black;
    text-decoration: none;
}