
.display-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding-bottom: 4rem;
    margin-left: 50px;
    margin-top: 40px;
}

.country-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.search-input{
   font-size: 20px;
   padding: 3px;
   border-radius: 50px;
}

.search-button{
    background-color: white;    
    cursor: pointer;
    border: none;
}

.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-button-container{
    position: absolute;
    right: 630px;
}

.filters{
    background-color: #272727;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filters-boxes{
    font-size: 18px;
    color: white;
    border: none;
    background-color: transparent;
    margin-right: 70px;
}

.options{
    color: white;
    background-color: #272727;
}