.landing-container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title-gif-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    
}

.world-gif{
    display: flex;
    align-items: flex-start;
    align-items: center;
}

.title-container{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-title{
    font-size: 50px;
    margin-bottom: 175px;
    
}

.bot-row-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}

.second-img-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.landingbutton-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingbutton{
    font-size: 30px;
    padding: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin-left: 220px;
}

.landingbutton:hover{
    background-color: rgb(152, 152, 152);
    color: black;
    transition: 0.7s;
}



