.nav-container{
    background-color: rgba(0, 89, 144, 0.605);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.nav-title{
    font-size: 50px;
    color: #058fc1;
}

.create-btn{
    border-radius: 7px;
    padding: 7px 7px;
    font-size: 20px;
    background-color: rgb(0, 89, 144);
    color: white;
    cursor: pointer;
}