.nav-container{
    background-color: #272727;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-title{
    font-size: 40px;
    color: white;
}

.create-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.create-btn-act{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: #272727;
    color: white;
    border: none;
    cursor: pointer;
}

.create-btn-act:hover {
    color: #d3d3d3;
}