.paginado{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.number{
   background-color: transparent; 
   border: none;
   font-size: 15px;
   padding: 7px 15px;
   height: 32px;
   box-sizing: border-box;
   color: black;
   cursor: pointer;
}

/* #058fc1 */